
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');



body {
  font-family: 'Silkscreen', cursive;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8549ba;
 
}


main {
  flex: 1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* box-shadow: 2px 4px 16px #20074233; */

}


.header {

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 0;
}

h1 {
  font-size: 4.5em;
  padding: 0;
  color: #f0f018;
}

#styleB {
  font-size:x-large;
  padding-top: 0;
  margin: 0;
}

.buttons {

  display: flex;
  flex-wrap: wrap;

}

.textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #dae459;
  margin: 1em;
  color: #000000;
  border-radius: 2%;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 6px 12px #372a3a;
}


#restart {

display: flex;
align-items: center;
justify-content: center;


}
button {
  font-family: 'Silkscreen', cursive;
  font-size: large;
  margin: 5px;
  padding: 10px 20px;
  box-shadow: 2px 4px 16px #00000033;
}

p {
  padding: 10px 13px;
  font-size: larger;
  flex-wrap: wrap;
  max-width: 100%;
}

.counter {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
  width: 100%;
  background-color: #ebb248;
  margin: 1rem;
  border-radius: 5%;
  box-shadow: 3px 6px 12px #372a3a;
}

#footer {

 
  font-size: large;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


}

@media screen and (max-width: 1023px) {

  body {
    height: 100%;
  }
  
}