
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');



body {
  font-family: 'Silkscreen', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
margin: 0;

}

h1 {
  font-size: 4em;
  padding: 0.5em;
  margin-bottom: 0%;
  color: #f0f018;
}

main {
  min-width: 90%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8549ba;
  border-radius: 3%;
  box-shadow: 2px 4px 16px #20074233;
}

.buttons {

  display: flex;
  flex-wrap: wrap;

}

.textBox {
  min-width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #dae459;
  margin: 2em;
  color: #000000;
  border-radius: 2%;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 6px 12px #372a3a;
}


#restart {

  min-width: 100%;
display: flex;
align-items: center;
justify-content: center;


}
button {
  font-family: 'Silkscreen', cursive;
margin: 5px;
  padding: 10px 20px;
  box-shadow: 2px 4px 16px #00000033;
}

p {
  padding: 10px 13px;
  font-size: larger;
  flex-wrap: wrap;
  max-width: 100%;
}

.counter {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
  min-width: 90%;
  background-color: #ebb248;
  margin: 2rem;
  border-radius: 5%;
  box-shadow: 3px 6px 12px #372a3a;
}

